<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.itbuddy.database.mapper.UsersMapper">
  <select id="selectUser" resultType="Blog">
    select * from Blog where id = #{id}
  </select>
  <select id="selectUsers" resultType="Blog">
    select * from Blog where id = #{id}
  </select>
</mapper>